<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.vangelis.fastheadphone" >

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
</manifest>


